

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin", role: "form" }) do |f| %>
  <h2 class="form-signin-heading">登陆</h2>

    <%= f.input_field :email, required: false, autofocus: true, label: false, class: "form-control", placeholder: "Email"  %>
    <%= f.input_field :password, required: true, label: false, class: "form-control", placeholder: "密码" %>
    <lable class="checkbox">

        <%= f.input_field :remember_me, inline_label: '记住我', as: :boolean if devise_mapping.rememberable? %>
    </lable>

    <%= f.button :submit, "登陆", class: "btn btn-lg btn-primary" %>
    <%= render "users/shared/links" %>
<% end %>




